#NftProjectCard {
  .card_body {
    display: flex;
    @media (max-width: 1399px) {
      justify-content: space-evenly;
    }
    @media (max-width: 767px) {
      justify-content: flex-start;
    }
    .card_lg_img {
      height: 30.48rem;
      @media (max-width: 991px) and (min-width: 767px) {
        height: 20rem;
      }
      @media (max-width: 575px) {
        height: 20rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
    .card_img_slicer_wrapper {
      margin-left: 1.06rem;
      @media (max-width: 575px) {
        margin-left: 0px;
      }
      li {
        margin-bottom: 0.924rem;
        img {
          height: 9.544rem;
          cursor: pointer;
          @media (max-width: 991px) and (min-width: 767px) {
            height: 6rem;
          }
          @media (max-width: 450px) {
            height: 6rem;
          }
          @media (max-width: 350px) {
            height: 5rem;
          }
        }
      }
    }
  }
  .card_footer {
    margin-top: 3.284rem;
    @media (max-width: 991px) {
      margin-top: 1rem;
    }
    h6 {
      font-size: 2rem;
    }
    .user_box {
      font-size: 1.4rem;
    }
    .outline_btn {
      font-size: 1.1rem;
      background: transparent;
      outline: none;
      border: 1px solid var(--text-white);
      padding: 0.89rem 1.727rem;
      color: var(--text-white);
    }
  }
}
