#PricingPlan {
  #Section1 {
    padding-top: 30rem;
    min-height: 150rem;
    background: url("../../Static/img/bg_section_s.png") center/cover no-repeat
      fixed;
    @media (max-width: 1199px) {
      padding-top: 12rem;
      padding-bottom: 3rem;
    }
  }
}
