#ReviewWriting {
  margin-top: 5.2rem;
  #review_writing_form {
    .form_group {
      display: flex;
      align-items: center;
      .review_input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        color: var(--text-white);
        border-bottom: 2px solid var(--text-c0);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        &::placeholder {
          color: var(--text-white);
        }
      }
      .star_action_wrapper{
        margin-left: 3.8rem;
          .star_btn{
              border: none;
              outline: none;
              background: transparent;
              margin-left: 1rem;
              &:last-child{
                  margin-right: 0px;
              }
          }
      }
    }
  }
}
