#DippiesCard {
  width: 44.9rem;
  min-height: 44.3rem;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(91, 77, 149, 0.65) 0%,
    rgba(31, 18, 87, 0.442) 100%
  );
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1.2rem;
  padding: 1.3rem 0.9rem;
  @media (max-width: 500px) {
    width: 100%;
  }
  .card_img {
    height: 20.62rem;
    border-radius: 0.5rem;
    @media (max-width: 600px) {
      height: 15rem;
    }
  }
  .card-body,
  .card {
    background: transparent !important;
  }
  .header_img {
    position: relative;
    overflow: visible;
    .card_img_icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3.7rem;
    }
  }
  .card-body {
    text-align: center;
    color: var(--text-white);
    .body_title {
      font-size: 1.8rem;
      margin-top: 2.5rem;
      display: inline-block;
      font-weight: 600;
    }
    .body_subtitle {
      font-size: 1.4rem;
      a {
        color: var(--text-2f);
        display: inline-block;
        margin-right: 0.7rem;
      }
    }
    .card-text {
      margin-top: 2.6rem;
    }
  }

  // card_overlay_box
  .card_overlay_box {
    width: 43.9rem;
    min-height: 20.9rem;
    position: absolute;
    bottom: calc(100% - 6rem);
    left: -13.4rem;
    padding: 3rem 2rem 1.9rem 2rem;
    background: linear-gradient(
      180deg,
      rgba(110, 87, 209, 0.65) 0%,
      rgba(31, 18, 87, 0.442) 100%
    );
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 1.2rem;

    @media (max-width: 1199px) {
      bottom: 50%;
      left: -80%;
    }
    @media (max-width: 991px) {
      position: static;
      width: 100%;

    }
    @media (max-width: 600px) {
      width: 100%;
      zoom: 0.6;
    }
    @media (max-width: 340px) {
      zoom: 0.4;
    }
    .overlay_list {
      li:first-child {
        margin-right: 1.9rem;
        img {
          width: 8.1rem;
          height: 8.1rem;
        }
      }
      li:not(:first-child) {
        margin-right: 1.6rem;
        &:last-child {
          margin-right: 0px;
        }
        img {
          width: 4.2rem;
          height: 5rem;
          object-position: center top;
        }
      }
      .card_footer_overlay {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        letter-spacing: 4%;
        line-height: 1.8rem;
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .card_footer_symbol {
    @media (max-width: 600px) {
      zoom: 0.7;
    }
    li {
      margin-right: 1.6rem;
      img {
        width: 4.2rem;
        height: 5rem;
        object-position: center top;
        &.symbol_lg {
          width: 4.2rem;
          height: 9.9rem;
        }
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
