#DebustLanding {
  #Section1 {
    padding-top: 35.6rem;
    min-height: 108rem;
    background: url("../../Static/img/section_1_img.png") center/cover no-repeat
      fixed;
    .flex_wrapper {
      .box1 {
        width: 85.4rem;
      }
    }
  }
  #Section2 {
    min-height: 108rem;
    background: url("../../Static/img/section_bg2.png") center/cover no-repeat;
    padding-top: 8.3rem;
    padding-bottom: 22.1rem;
    .section_body_card_wrapper {
      background: linear-gradient(
        108.88deg,
        rgba(122, 106, 190, 0.65) 41.79%,
        rgba(31, 18, 87, 0.4225) 86.24%
      );
      padding: 2.3rem 2.2rem 2.4rem 2.1rem;
      border-radius: 1.2rem;
    }
  }
  #Section3 {
    min-height: 108rem;
    background: url("../../Static/img/section_bg3.png") center/cover no-repeat;
    padding-top: 6.6rem;
  }
  #Section4 {
    background: url("../../Static/img/section_bg4.png") center/cover no-repeat;
    padding-top: 6.6rem;
    padding-bottom: 20rem;
    .card_section_body {
      padding: 5.5rem 4.5rem;
      background: linear-gradient(
        108.88deg,
        rgba(122, 106, 190, 0.65) 41.79%,
        rgba(31, 18, 87, 0.4225) 86.24%
      );
      border-radius: 1.2rem;
    }
    .hiw_section {
      padding-top: 15.9rem;
      padding-bottom: 10.8rem;
    }
  }

  #Section5 {
    min-height: 94.5rem;
    background: url("../../Static/img/section_bg5.png") center/cover no-repeat;
    padding-top: 18.1rem;
    padding-bottom: 1.4rem;
    .goldBricks_img {
      width: 20.5rem;
      height: 20.5rem;
    }
    .Etherium_img {
      width: 16.9rem;
      height: 16.9rem;
    }
    .Safe-3 {
      width: 19.8rem;
      height: 19.8rem;
    }
    .People-3 {
      width: 18.1rem;
      height: 18.1rem;
    }
    .cardImg {
      margin-right: 3.3rem;
    }
  }
}
