// .............................Global Settings Style..............
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.family_montserrat {
  font-family: "Montserrat", sans-serif;
}
.family_poppins {
  font-family: "Poppins", sans-serif;
}
// .............................Global Settings Style..............End
