// .............................Global Settings Style..............
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.family_montserrat {
  font-family: "Montserrat", sans-serif;
}
.family_poppins {
  font-family: "Poppins", sans-serif;
}
.family_dm {
  font-family: "DM Sans", sans-serif;
}
:root {
  font-size: 10px;
  --text-white: #fff;
  --text-c0: #6754c0;
  --text-d4: #735ed4;
  --text-black: #000;
  --text-2f: #00b2ff;
  --text-7f: #3b2b7f;
  --text-fa8: rgba(255, 255, 255, 0.8);
  --text-f8: #a694f8;
  --text-ae: #5743ae;
  // family variable
  --family1: "Montserrat", sans-serif;
  --family2: "Poppins", sans-serif;
  --mdb-breadcrumb-divider: ">";
}
.text_fa8 {
  color: var(--text-fa8);
}
body {
  font-size: 16px;
  color: var(--text-white);
}
// .............................Global Settings Style..............End

// ......................Heading ..................
h1 {
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 6.6rem;
  letter-spacing: -1.5%;
  color: var(--text-white);
  font-family: var(--family1);
  @media (max-width: 767px) {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  @media (max-width: 500px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  &.mb_head {
    margin-bottom: 4.2rem;
  }
}
h3 {
  font-size: 4rem;
  @media (max-width: 600px) {
    font-size: 2.2rem;
  }
}
h4 {
  font-size: 2.4rem;
  color: var(--text-white);
}
h5 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.8);
  &.mb_head {
    margin-bottom: 4.2rem;
  }
}
// ......................Heading ..................End

// .....................Section classes ...................
.section_container {
  max-width: 1389px;
  margin-left: auto;
  margin-right: auto;
  &.lg_container {
    max-width: 1430px;
  }
  @media (max-width: 1500px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (max-width: 600px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.section_title {
  margin-bottom: 8.3rem;
  @media (max-width: 600px) {
    margin-bottom: 3rem;
  }
  .title {
    font-weight: bold;
  }
  h2.title {
    font-size: 6rem;
    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
  .subtitle {
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    @media (max-width: 600px) {
      font-size: 1.7rem !important;
    }
  }
  .view_all {
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.8);
    @media (max-width: 600px) {
      font-size: 1.6rem;
      white-space: nowrap;
    }
  }
}
// .....................Section classes ...................End

// ..................... Button classes ....................
.btn_log {
  width: 14.4rem;
  height: 5.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--text-white);
  color: var(--text-c0) !important;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-family: var(--family2);
  font-weight: 600;
  @media (max-width: 1199px) {
    width: 10rem;
    height: 4.5rem;
  }
  &.mr_15 {
    margin-right: 1.5rem;
  }
}
.btn_creator {
  background: radial-gradient(
    126.82% 126.82% at 63.54% 32.27%,
    #ff0d6a 0%,
    #5335db 100%
  );
  color: var(--text-white) !important;
  border-radius: 0.3rem;
  border: 1px solid var(--text-white);
  width: 13.2rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: var(--family2);
  font-weight: 600;
  @media (max-width: 1199px) {
    width: 12rem;
    height: 4.5rem;
  }
  &.btn_lg {
    width: 25rem;
    @media (max-width: 400px) {
      width: 100%;
      margin-left: 0px !important;
    }
  }
  &.mt_71 {
    margin-top: 7.1rem;
    @media (max-width: 600px) {
      margin-top: 2rem;
    }
  }
}
.btn_explore_outline {
  background: transparent;
  color: var(--text-white) !important;
  border-radius: 0.3rem;
  border: 1px solid var(--text-white);
  width: 13.2rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: var(--family2);
  font-weight: 600;
  &.mr_15 {
    margin-right: 1.5rem;
  }
}
.btn_outline_trial {
  background: transparent;
  border: 2px solid var(--text-white);
  border-radius: 0.5rem;
  padding: 1.2rem 3.8rem;
  color: var(--text-white) !important;
  display: inline-block;
  &.btn_mt_28 {
    margin-top: 2.86rem;
  }
}

.btn_bg_trial {
  background: linear-gradient(
    105.26deg,
    rgba(255, 13, 106, 0.63) 39.29%,
    #891dde 91.34%
  );
  border-radius: 0.5rem;
  padding: 1.2rem 3.8rem;
  color: var(--text-white) !important;
  display: inline-block;

  &.btn_mt_28 {
    margin-top: 2.86rem;
  }
}

// ..................... Button classes ....................End

// .....................Font Sizes.................
.font_36 {
  font-size: 3.6rem !important;
  @media (max-width: 767px) {
    &.res_font {
      font-size: 1.8rem !important;
      line-height: 2.5rem !important;
    }
  }
}
// .....................Font Sizes.................End

.object_cover {
  object-fit: cover;
}
