#Footer {
  padding-top: 12.2rem;
  padding-bottom: 7.4rem;
  background: conic-gradient(
    from 211.18deg at 59.01% -160.39%,
    #8b74ee 0deg,
    #6555ab 175.08deg,
    #6651c4 191.25deg,
    #8b74ee 360deg
  );
  .footer_row {
    padding-bottom: 2.7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    li {
      a {
        font-size: 1.5rem;
        color: var(--text-white);
      }
    }
  }
  .social_icon_wrapper {
    padding-top: 7.4rem;
    padding-bottom: 2.9rem;
    li {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .copyright_content{
      color:rgba(255, 255, 255, 0.8);
      font-size: 1.5rem;
  }
}
